- content_for :head do
  = javascript_include_tag "edit_custom_fields", "contents"
  = stylesheet_link_tag "fancybox"

= f.foldable_inputs :name => :meta do

  = f.input :meta_keywords
  = f.input :meta_description

= render 'admin/custom_fields/custom_form', :form => f, :title => :attributes, :parent => @content_type